<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
    👋 Hi, my name is Youngmin Choi and I'm from South Korea.
</p>
<p class="description" data-aos="fade-down">
    👨‍💻 I'm a Game Client Developer with a focus on Game Planning End Development.
</p>
<p class="description" data-aos="fade-down">
    💻 I enjoy learning new skills and sharing my code on <a class="highlight-link"
    href="https://github.com/Jpot777" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
    👥 I have experience working in agile environments and am a convinced advocate of clean code.
</p>
<p class="description" data-aos="fade-down">
    💪 I am passionate about dance and plan to create a team to share my videos and my strengths.
</p>
