<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
    👋 Hi, my name is <b>Youngmin Choi</b> and I'm from <b>South Korea</b>.
</p>
<p class="description" data-aos="fade-down">
    👨‍💻 I am a <b>Game Client Developer</b> focusing on <b>Game Design</b> and <b>Development</b>.
</p>
<p class="description" data-aos="fade-down">
    💻 I enjoy learning new skills and sharing my code on <a class="highlight-link"
    href="https://github.com/Jpot777" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
    👥 I have experience working in agile environments and am a convinced advocate of clean code.
</p>
<p class="description" data-aos="fade-down">
    💪 I am passionate about <b>Dance</b> and plan to create a team to share my videos and my strengths.
</p>
<p class="description" data-aos="fade-down">
    👀 If you are curious about my history, you can check it out through <a class="highlight-link"
        href="https://www.notion.so/MY-JOURNEY-73abb5de2f794087839160c22946f1fc?pvs=4" target="_blank" rel="noreferrer"> Notion </a>.
</p>
